/* === FOOTER === */
footer {
  height: 404px;
  background-color: #fcf6ee;
  color: #040037;
  font-family: "Montserrat", sans-serif;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsor {
  .third-head {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding-top: 24px;
  }

  .container-box {
    margin-top: 80px;
    @include flex();
    justify-content: space-between;

    .box {
      width: 124px;
      height: 120px;
      border: 1px solid $bg-txt-color;
    }
  }
}

.copyright {
  @include flex();
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .text-paragraph {
    font-size: 14px;
  }

  .social-media {
    display: flex;
    gap: 30px;

    .logo-social-media {
      font-size: 30px;
    }
  }
}
