/* === PREVIOUS TOURNAMENT === */
.prev-tournament {
  background-color: #e9e3fd;
  height: 832px;

  .second-heading {
    padding-top: 133px;
    font-size: 32px;
    font-weight: 800;
    color: #040037;
    text-align: center;
  }
}

.container-content {
  .tabs-media {
    margin-top: 24px;
    @include flex();
    align-items: center;

    .tab-media {
      font-size: 20px;
      font-weight: 400;
      border: none;
      background-color: transparent;
      padding: 10px 15px;
      border-right: 1px solid $primary-color;
      cursor: pointer;
      outline: none;

      &:last-child {
        border: none;
      }
    }

    .active-tab {
      background-color: $button-color;
      color: $text-color;
      border: none;
    }
  }

  .tabs-content {
    height: 443px;
    margin-top: 24px;
    padding: 24px;
    background-color: $bg-image-color;

    > div {
      display: none;
    }

    .active-tab {
      display: block;
    }
  }
}

.imgs-content {
  .imgs-list {
    @include flex();
    justify-content: flex-start;
    gap: 24px;
    overflow: hidden;

    img {
      width: 395px;
    }
  }
}

.video-content {
  text-align: center;

  .video {
    width: 640px;
    height: 395px;
  }
}

.container-button {
  display: none;

  .wrap-button {
    @include flex();
    align-items: center;
    padding: 24px 0 42px 0;
    gap: 15px;

    .slide-btn {
      border: none;
      background: none;
      color: $btn-prev-for-color;
      cursor: pointer;
      outline: none;

      .icons {
        font-size: 35px;
      }
    }

    .active-btn {
      color: $button-color;
    }
  }
}

.active-buttons {
  display: block;
}
