* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
}

/* === HEADERS === */
.headers {
  background-color: #040037;
  background-image: url(../img/background-1.png);
  background-size: cover;
}

.container-nav {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 1.09%, #040037 100%);
  padding: 0 32px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 121px;
}
.container-nav .logo {
  width: 173px;
}

.main-nav {
  display: flex;
  gap: 32px;
}
.main-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.main-nav .active-nav {
  border-bottom: 2px solid #bd3934;
  font-weight: 700;
}

.get-ticket a {
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}
.get-ticket a img {
  width: 133px;
}

/* === HEADER === */
header {
  margin-top: 92px;
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 711px;
  padding: 0 32px;
  color: #fff;
  position: relative;
}

.wrap-header {
  margin-top: 75px;
  width: 500px;
}

.wa-side {
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 50px;
}
.wa-side img {
  width: 40px;
}

.desc-container h1 {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}
.desc-container .sub-head {
  margin-top: 4px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrap-text-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
.wrap-text-p p:first-child {
  margin-top: 16px;
}
.wrap-text-p p:last-child {
  margin-top: 30px;
}

.jadwal-container {
  margin-top: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.left {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.left .lokasi-icon {
  color: #bd3934;
  font-size: 25px;
}
.left .lokasi {
  margin-top: 3px;
  width: 252px;
}
.left span {
  font-weight: 700;
}
.left p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.right .tanggal-icon {
  color: #bd3934;
  font-size: 25px;
}
.right .tanggal {
  margin-top: 3px;
}
.right span {
  font-weight: 700;
}
.right p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

/* === TOURNAMENT FORMAT ==== */
.top-content {
  padding: 0 16px;
  background-color: #040037;
  color: #fff;
  height: 711px;
}

.container-tournament-format {
  padding-top: 133px;
}

.top-side .second-heading {
  font-size: 32px;
  font-weight: 800;
  color: #d9d9d9;
  text-align: center;
}
.top-side .text-p {
  margin-top: 12px;
  font-size: 20px;
  text-align: center;
}

.bottom-side {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.container-img img {
  width: 395px;
}

.container-text {
  margin-top: 10px;
}
.container-text p {
  font-size: 20px;
  font-weight: 700;
}
.container-text ul > li {
  margin-left: 20px;
  margin-top: 10px;
}

.tournament-format-icon {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 122px;
  background-color: #d9d9d9;
  color: #040037;
  padding: 0 32px;
}
.tournament-format-icon .icons {
  display: flex;
  justify-content: center;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.icons img {
  width: 48px;
}

/* === GRAND PRIZE === */
.grand-prize {
  background-color: #040037;
  color: #fff;
  height: 832px;
  padding: 0 32px;
  background-image: url(../img/bg-black-trans.png);
  background-size: cover;
}
.grand-prize .second-heading {
  padding-top: 133px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.container-box {
  margin-top: 24px;
}

.wrap-box-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-box-top .box {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border-right: 1px solid #fff;
}
.wrap-box-top .box:last-child {
  border: none;
}

.wrap-box-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.wrap-box-bottom .box {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border-right: 1px solid #fff;
}
.wrap-box-bottom .box:last-child {
  border: none;
}
.wrap-box-bottom .box {
  font-size: 24px;
  font-weight: 700;
}

.car-img img {
  margin-top: 12px;
  width: 100%;
}

.hole-in-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
.hole-in-one img {
  width: 48px;
}
.hole-in-one span {
  font-size: 48px;
  font-weight: 800;
  color: #d29319;
}

/* === PREVIOUS TOURNAMENT === */
.prev-tournament {
  background-color: #e9e3fd;
  height: 832px;
}
.prev-tournament .second-heading {
  padding-top: 133px;
  font-size: 32px;
  font-weight: 800;
  color: #040037;
  text-align: center;
}

.container-content .tabs-media {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-content .tabs-media .tab-media {
  font-size: 20px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  border-right: 1px solid #040037;
  cursor: pointer;
  outline: none;
}
.container-content .tabs-media .tab-media:last-child {
  border: none;
}
.container-content .tabs-media .active-tab {
  background-color: #bd3934;
  color: #fff;
  border: none;
}
.container-content .tabs-content {
  height: 443px;
  margin-top: 24px;
  padding: 24px;
  background-color: #fafafa;
}
.container-content .tabs-content > div {
  display: none;
}
.container-content .tabs-content .active-tab {
  display: block;
}

.imgs-content .imgs-list {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  gap: 24px;
  overflow: hidden;
}
.imgs-content .imgs-list img {
  width: 395px;
}

.video-content {
  text-align: center;
}
.video-content .video {
  width: 640px;
  height: 395px;
}

.container-button {
  display: none;
}
.container-button .wrap-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 42px 0;
  gap: 15px;
}
.container-button .wrap-button .slide-btn {
  border: none;
  background: none;
  color: #c4c4c4;
  cursor: pointer;
  outline: none;
}
.container-button .wrap-button .slide-btn .icons {
  font-size: 35px;
}
.container-button .wrap-button .active-btn {
  color: #bd3934;
}

.active-buttons {
  display: block;
}

/* === TICKET === */
.ticket {
  background-image: url(../img/background-2.png);
  background-size: cover;
  color: #fff;
  padding: 0 48px;
  height: 832px;
  position: relative;
}

.top-wrap {
  padding-top: 133px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.top-wrap .sub-heading {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.top-wrap .text-p {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 12px;
  line-height: 30px;
}
.top-wrap .get-btn {
  margin-top: 120px;
  border: none;
  background: none;
  background-color: #bd3934;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  width: 389px;
  height: 92px;
  border-radius: 8px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.more-info {
  margin-top: 143px;
}
.more-info .third-head {
  font-size: 24px;
  font-weight: 700;
}

.wrap-email-wa {
  margin-top: 8px;
  display: flex;
  gap: 300px;
  padding-bottom: 50px;
}
.wrap-email-wa .email,
.wrap-email-wa .whatsapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dot-slide-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 16px;
  width: 30px;
  position: absolute;
  right: 40px;
  bottom: 250px;
}
.dot-slide-page .dot-slide {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
}
.dot-slide-page .active-dot {
  background-color: #bd3934;
  width: 12px;
  height: 12px;
}

/* === FOOTER === */
footer {
  height: 404px;
  background-color: #fcf6ee;
  color: #040037;
  font-family: "Montserrat", sans-serif;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsor .third-head {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding-top: 24px;
}
.sponsor .container-box {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.sponsor .container-box .box {
  width: 124px;
  height: 120px;
  border: 1px solid #d9d9d9;
}

.copyright {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.copyright .text-paragraph {
  font-size: 14px;
}
.copyright .social-media {
  display: flex;
  gap: 30px;
}
.copyright .social-media .logo-social-media {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .container-nav {
    height: 105px;
  }
  header {
    height: 550px;
  }
  .container-nav .logo {
    width: 140px;
  }
  .container-nav .main-nav a {
    font-size: 16px;
  }
  .container-nav .get-ticket a img {
    width: 100px;
  }
  .wrap-header .desc-container .first-heading {
    font-size: 47px;
  }
  .wrap-header .desc-container .sub-head {
    font-size: 26px;
  }
  .wrap-header .desc-container .wrap-text-p {
    font-size: 16px;
  }
  .wrap-header .jadwal-container .left .lokasi-icon {
    font-size: 20px;
  }
  .wrap-header .jadwal-container .left span,
  .wrap-header .jadwal-container .left p {
    font-size: 16px;
  }
  .wrap-header .jadwal-container .right .tanggal-icon {
    font-size: 20px;
  }
  .wrap-header .jadwal-container .right span,
  .wrap-header .jadwal-container .right p {
    font-size: 16px;
  }
  .container-tournament-format {
    padding-top: 123px;
  }
  .top-content {
    height: 550px;
  }
  .top-side .second-heading {
    font-size: 30px;
  }
  .top-side .text-p {
    font-size: 18px;
  }
  .bottom-side .flight-a .container-img img,
  .bottom-side .flight-b .container-img img,
  .bottom-side .women-cat .container-img img {
    width: 295px;
  }
  .bottom-side .flight-a .container-text p,
  .bottom-side .flight-a .container-text ul > li,
  .bottom-side .flight-b .container-text p,
  .bottom-side .flight-b .container-text ul > li,
  .bottom-side .women-cat .container-text p,
  .bottom-side .women-cat .container-text ul > li {
    font-size: 18px;
  }
  .tournament-format-icon {
    height: 105px;
  }
  .tournament-format-icon .icons img {
    width: 44px;
  }
  .tournament-format-icon .icons p {
    font-size: 18px;
  }
  .grand-prize {
    height: -moz-max-content;
    height: max-content;
  }
  .grand-prize .second-heading {
    padding-top: 123px;
    font-size: 30px;
  }
  .wrap-box-top .box {
    font-size: 18px;
  }
  .hole-in-one span {
    font-size: 44px;
  }
  .wrap-box-bottom {
    padding-bottom: 24px;
  }
  .wrap-box-bottom .box span {
    font-size: 22px;
  }
  .prev-tournament {
    height: -moz-max-content;
    height: max-content;
  }
  .prev-tournament .second-heading {
    padding-top: 123px;
    font-size: 30px;
  }
  .container-content .tabs-media .tab-media {
    font-size: 18px;
  }
  .container-content .tabs-content {
    height: 350px;
  }
  .imgs-content .imgs-list img {
    width: 295px;
  }
  .video-content .video {
    width: 544px;
    height: 300px;
  }
  .ticket {
    height: 655px;
  }
  .top-wrap {
    padding-top: 123px;
  }
  .top-wrap .sub-head {
    font-size: 30px;
  }
  .top-wrap .text-p {
    font-size: 18px;
  }
  .top-wrap .get-btn {
    margin-top: 110px;
    font-size: 22px;
    width: 325px;
    height: 80px;
  }
  .more-info {
    margin-top: 113px;
  }
  .more-info .third-head {
    font-size: 22px;
  }
  .sponsor .third-head {
    font-size: 30px;
  }
  .sponsor .container-box .box {
    width: 114px;
    height: 110px;
  }
  .copyright .text-paragraph {
    font-size: 12px;
  }
  .copyright .social-media .logo-social-media {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .container-nav {
    height: 90px;
    padding: 0 14px;
  }
  .container-nav .logo {
    width: 110px;
  }
  .container-nav .main-nav {
    gap: 20px;
  }
  .container-nav .main-nav a {
    font-size: 12.5px;
  }
  .container-nav .get-ticket a img {
    width: 90px;
  }
  header {
    height: 500px;
  }
  .wrap-header {
    width: 458px;
  }
  .wrap-header .desc-container .first-heading {
    font-size: 38px;
  }
  .wrap-header .desc-container .sub-head {
    font-size: 21px;
  }
  .wrap-header .desc-container .wrap-text-p {
    font-size: 14px;
  }
  .wrap-header .jadwal-container .left {
    gap: 10px;
  }
  .wrap-header .jadwal-container .left .lokasi {
    width: 256px;
  }
  .wrap-header .jadwal-container .left .lokasi-icon {
    font-size: 20px;
  }
  .wrap-header .jadwal-container .left span,
  .wrap-header .jadwal-container .left p {
    font-size: 14px;
  }
  .wrap-header .jadwal-container .right {
    gap: 10px;
  }
  .wrap-header .jadwal-container .right .tanggal-icon {
    font-size: 20px;
  }
  .wrap-header .jadwal-container .right span,
  .wrap-header .jadwal-container .right p {
    font-size: 14px;
  }
  .wa-side {
    width: 50px;
    height: 50px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
  }
  .container-tournament-format {
    padding-top: 110px;
  }
  .top-content {
    height: 500px;
  }
  .top-side .second-heading {
    font-size: 26px;
  }
  .top-side .text-p {
    font-size: 14px;
  }
  .bottom-side .flight-a .container-img img,
  .bottom-side .flight-b .container-img img,
  .bottom-side .women-cat .container-img img {
    width: 230px;
  }
  .bottom-side .flight-a .container-text p,
  .bottom-side .flight-a .container-text ul > li,
  .bottom-side .flight-b .container-text p,
  .bottom-side .flight-b .container-text ul > li,
  .bottom-side .women-cat .container-text p,
  .bottom-side .women-cat .container-text ul > li {
    font-size: 14px;
  }
  .tournament-format-icon {
    height: 90px;
  }
  .tournament-format-icon .icons img {
    width: 35px;
  }
  .tournament-format-icon .icons p {
    font-size: 14px;
  }
  .grand-prize .second-heading {
    padding-top: 110px;
    font-size: 26px;
  }
  .wrap-box-top .box span {
    font-size: 14px;
  }
  .hole-in-one span {
    font-size: 34px;
  }
  .wrap-box-bottom .box span {
    font-size: 20px;
  }
  .prev-tournament .second-heading {
    padding-top: 110px;
    font-size: 26px;
  }
  .container-content .tabs-media .tab-media {
    font-size: 14px;
  }
  .container-content .tabs-content {
    height: 271px;
  }
  .imgs-content .imgs-list img {
    width: 223px;
  }
  .top-wrap {
    padding-top: 110px;
  }
  .top-wrap .sub-heading {
    font-size: 26px;
  }
  .top-wrap .text-p {
    font-size: 14px;
  }
  .top-wrap .get-btn {
    font-size: 18px;
    width: 259px;
    height: 68px;
  }
  .more-info .third-head {
    font-size: 18px;
  }
  .more-info .wrap-email-wa .email,
  .more-info .wrap-email-wa .whatsapp {
    font-size: 14px;
  }
  .dot-slide-page .dot-slide {
    width: 5px;
    height: 5px;
  }
  .dot-slide-page .active-dot {
    width: 9px;
    height: 9px;
  }
  .sponsor .third-head {
    font-size: 26px;
  }
  .sponsor .container-box .box {
    width: 75px;
    height: 70px;
  }
  .copyright .text-paragraph {
    font-size: 10.5px;
  }
  .copyright .social-media .logo-social-media {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .container-nav {
    height: 70px;
  }
  .container-nav .logo {
    width: 50px;
  }
  .container-nav .main-nav {
    gap: 15px;
  }
  .container-nav .main-nav a {
    height: 30px;
    font-size: 8px;
  }
  .container-nav .get-ticket a img {
    width: 40px;
  }
  header {
    margin-top: 42px;
  }
  .wrap-header .desc-container .first-heading {
    font-size: 28px;
  }
  .wrap-header .desc-container .sub-head {
    font-size: 16px;
  }
  .wrap-header .desc-container .wrap-text-p {
    font-size: 13px;
  }
  .wrap-header .jadwal-container .left .lokasi-icon {
    font-size: 15px;
  }
  .wrap-header .jadwal-container .left .lokasi {
    width: 200px;
  }
  .wrap-header .jadwal-container .left .lokasi span,
  .wrap-header .jadwal-container .left .lokasi p {
    font-size: 13px;
  }
  .wrap-header .jadwal-container .right .tanggal-icon {
    font-size: 15px;
  }
  .wrap-header .jadwal-container .right .tanggal span,
  .wrap-header .jadwal-container .right .tanggal p {
    font-size: 13px;
  }
  .top-content {
    height: -moz-max-content;
    height: max-content;
  }
  .container-tournament-format {
    padding-top: 90px;
  }
  .container-tournament-format .top-side .second-heading {
    font-size: 20px;
  }
  .container-tournament-format .top-side .text-p {
    font-size: 10px;
  }
  .container-tournament-format .bottom-side {
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container-tournament-format .bottom-side .flight-a,
  .container-tournament-format .bottom-side .flight-b,
  .container-tournament-format .bottom-side .women-cat {
    display: flex;
    gap: 10px;
  }
  .container-tournament-format .bottom-side .flight-a .container-img img,
  .container-tournament-format .bottom-side .flight-b .container-img img,
  .container-tournament-format .bottom-side .women-cat .container-img img {
    width: 150px;
  }
  .container-tournament-format .bottom-side .flight-a .container-text p,
  .container-tournament-format .bottom-side .flight-a .container-text ul > li,
  .container-tournament-format .bottom-side .flight-b .container-text p,
  .container-tournament-format .bottom-side .flight-b .container-text ul > li,
  .container-tournament-format .bottom-side .women-cat .container-text p,
  .container-tournament-format .bottom-side .women-cat .container-text ul > li {
    font-size: 10px;
  }
  .container-tournament-format .bottom-side .flight-a .container-text,
  .container-tournament-format .bottom-side .flight-b .container-text,
  .container-tournament-format .bottom-side .women-cat .container-text {
    margin: 0;
  }
  .tournament-format-icon {
    height: 70px;
    padding: 0 14px;
  }
  .tournament-format-icon .icons img {
    width: 30px;
  }
  .tournament-format-icon .icons p {
    font-size: 10px;
  }
  .grand-prize .second-heading {
    padding-top: 70px;
    font-size: 20px;
  }
  .grand-prize .wrap-box-top .box {
    padding: 5px 10px;
  }
  .grand-prize .wrap-box-top .box span {
    font-size: 10px;
  }
  .hole-in-one img {
    width: 35px;
  }
  .hole-in-one span {
    font-size: 24px;
  }
  .wrap-box-bottom .box span {
    padding: 5px 10px;
    font-size: 16px;
  }
  .prev-tournament .second-heading {
    padding-top: 70px;
    font-size: 20px;
  }
  .container-content .tabs-media .tab-media {
    font-size: 10px;
  }
  .container-content .tabs-content {
    height: 253px;
  }
  .imgs-content .imgs-list img {
    width: 204px;
  }
  .video-content .video {
    width: 300px;
    height: 200px;
  }
  .ticket {
    padding: 0 14px;
    height: -moz-max-content;
    height: max-content;
  }
  .top-wrap .sub-heading {
    font-size: 20px;
  }
  .top-wrap .text-p {
    font-size: 10px;
    line-height: 1.5;
  }
  .top-wrap .get-btn {
    font-size: 12px;
    width: 205px;
    height: 53px;
  }
  .more-info .third-head {
    font-size: 12px;
  }
  .more-info .wrap-email-wa {
    gap: 100px;
  }
  .more-info .wrap-email-wa .email span {
    font-size: 10px;
  }
  .more-info .wrap-email-wa .whatsapp span {
    font-size: 10px;
  }
  .dot-slide-page .dot-slide {
    width: 3px;
    height: 3px;
  }
  .dot-slide-page .active-dot {
    width: 5px;
    height: 5px;
  }
  footer {
    height: 300px;
    padding: 0 14px;
  }
  .sponsor .third-head {
    font-size: 20px;
  }
  .sponsor .container-box {
    margin-top: 50px;
  }
  .sponsor .container-box .box {
    width: 40px;
    height: 40px;
  }
  .copyright .text-paragraph {
    font-size: 8px;
  }
  .copyright .social-media {
    gap: 20px;
  }
  .copyright .social-media .logo-social-media {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */